* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background:#191919;
}
.container {
    width: 80%;
    margin: auto;
    background: #191919;
    color: #ffffff;
}

.top {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 50px;
}

.logo {
    height: 25px;
}
h2,
p {
    margin: 30px 0;
}

/* first-container */


.box-main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 500px;
    gap: 15px;
    margin-bottom: 50px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.box1 {
    grid-column: 1/3;
    background: #634F2C;
}

.box2 {
    grid-column: 3/5;
    background: #B4A385;
}

.box3 {
    grid-column: 5/7;
    background: #E4B564;

}

.box4 {
    grid-column: 1/4;
    background: #635A4A;

}

.box5 {
    grid-column: 4/7;
    background: #B08C4D;

}

.box-main2 {
    height: 500px;
    display: grid;
    grid-template-areas:
        "box1 box2 box3"
        "box1 box2 box3"
        "box1 box2 box6"
        "box4 box2 box6"
        "box4 box5 box6"
        "box4 box5 box7"
        "box4 box5 box7"
        "box4 box5 box7";
    gap: 15px;
}


.box1-2 {
    grid-area: box1;
    background: #0E0E0E;

}

.box2-2 {
    grid-area: box2;
    background: #242424;

}

.box3-2 {
    grid-area: box3;
    background: #1F1F1F;

}

.box4-2 {
    grid-area: box4;
    background: #1F1F1F;

}

.box5-2 {
    grid-area: box5;
    background: #E4B564;

}

.box6-2 {
    grid-area: box6;
    background: #0E0E0E;

}

.box7-2 {
    grid-area: box7;
    background: #0A0909;

}

.container-bottom {
    background: #0E0E0E;

}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
}

button {
    background-color: transparent;
    border: 1px solid #E4B564;
    color: #E4B564;
    height: 40px;
    padding: 0 20px;
    text-align: center;
}

.box-main3 {
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative;
    z-index: 0;
    padding-bottom: 50px;
}


.box-main3::after {
    content:"";
    background: #0E0E0E;
    position: absolute;
    bottom: 50px;
    z-index: -1;
    width: 125%;
    height: 120%;
    left: -12.5%;
}

.box1-3 {
    background: #634F2C;
}

.box2-3 {
    background: #E8D2ABC2;
}

.box3-3 {
    background: #E4B564; 
}

.box4-3 {
    background: #635A4A; 
}

.box5-3 {
    background: #B08C4D;   
}

.box6-3 {
    background: #634F2C;  
}

.logoinbox {
    height: 30px;
}

.textinbox {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
